/* Constants */
$LIGHT-GREY: #f8f9fa;
$MED_GREY: #dee2e6;
$DARK_GREY: #6c757d;

$YELLOW: #Ffcc33;
$ORANGE: #Ff9933;
$CORAL: #Ff6666;
$PINK: #ff66cc;
$PURPLE: #9966ff;
$BLUE: #3366ff;
$BLUE_GREEN: #00cccc;
$GREEN: #00cc66;
$DEFAULT_COLOR: $BLUE_GREEN;

$RECT_BORDER_RADIUS: 10px;
$MAX_PANEL_WIDTH: 500px;